.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.linkButton {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  padding: 2px 10px 0px 10px;
  background: #76a068;
}

.linkButton a {
  text-decoration: none;
  color: #373867;
}

.linkButton a:hover {
  color: #FFFFFF;
}

.link {
  text-decoration: none;
}
